.context-menu {
    position: absolute;
    display: none;
    flex-direction: column;
}

.inner-menu-item {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 10px;
    background-color: beige;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.inner-menu-item:last-child {
    border-bottom: none;
}