:root {
    --inset: 0.5vmin;
    --color0: rgb(255, 255, 255);
    --color1: #222;
    --duration: 5s;
    --bgcolor0: #0aca;
    --bgcolor1: #222a;
}

.shine {
    block-size: 7vmin;
    inline-size: 7vmin;
    display: grid;
    place-items: center;
    overflow: hidden;
    box-shadow: inset 0 0 10px black, 0 0 10px black;
    margin: 10px;
    border-radius: 50%;
}

.clip {
    inline-size: 100%;
    block-size: 100%;
    overflow: hidden;
    clip-path: circle(45.0% at 50% 50%);
    border-radius: 50%;
}

.clip img {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.shine::before {
    content: '';
    display: block;
    inline-size: 100%;
    block-size: 100%;
    position: absolute;
    background: repeating-conic-gradient(transparent, var(--color0) 25deg, var(--color1) 22.5deg, transparent 90deg);
    animation: var(--duration) f linear infinite;
    scale: 1.6;
}

@keyframes f {
    0% {
        rotate: 0
    }

    100% {
        rotate: 1turn
    }
}

.user-list-item {
    display: flex;
    flex: auto;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 5px;
    border-bottom: 2px solid rgba(233, 220, 220, 0.849);
}

.user-list-item:hover {
    background-color: #aaaaaa2d;
}

.user-list-item h4 {
    margin-top: 10px;
    font-size: 18px;
}

.user-list-item p {
    margin-top: 5px;
    color: #aaa;
}

.user-list-item:last-child {
    border-bottom: none;
}

.user-list-item .list-item-content {
    margin-left: 10px;
}

.user-list-item .list-item-content h4,
p {
    margin: 0;
}

.user-list-item .list-item-signals {
    display: flex;
    flex: auto;
    justify-content: right;
    align-items: center;
    padding: 10px;

}