.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 98vh;
  padding: 10px;
}

.heading {
  text-align: center;
  font-weight: 900;
  font-size: 30px;
  color: rgb(16, 137, 211);
}