.list-wrapper{
  overflow: auto;
  display: flex;
}
.list {
  background: white;
  padding: 0;
  display: flex;
  flex: auto;
  flex-direction: column;
}

.list .list-item {
  display: flex;
  flex: auto;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.list .list-item h4 {
  margin-top: 10px;
  font-size: 18px;
}

.list .list-item p {
  margin-top: 5px;
  color: #aaa;
}

.list .list-item:last-child {
  border-bottom: none;
}

.list .list-item-image {
  border-radius: 50%;
  width: 64px;
}

.list .list-item-content {
  margin-left: 10px;
}

.list .list-item-content h4,
p {
  margin: 0;
}

.list .list-item-signals {
  display: flex;
  flex: auto;
  justify-content: right;
  align-items: center;
  padding: 10px;

}